@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">QUIZ APP</h1>
    <p>"Challenge your knowledge, unlock your potential: Play the Quiz App now!"</a>.</p>
    <img src="~/Images/quiz.png" height="400" width="400"/>
</div>
